@charset "UTF-8";
:root {
  /* font */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  /* colors */
  --main-white-cl: #ffffff;
  --accent-cl: #ff7058;
  --second-accent-cl: #d96a56;
  /* fills borders*/
  --main-fill-light: #afb1b8;
  --accent-fill-cl: rgba(255, 255, 255, 0.3);
  --second-border-cl: rgba(0, 0, 0, 0.1);
  --main-border-cl: rgba(33, 33, 33, 0.2);
  --bg-border-cl: #eeeeee;
  /* text colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #8c8d91;
  --accent-cl-white: rgba(255, 255, 255, 0.6);
  --accent-cl-dark: #120d26;
  /* background colors */
  --main-bg-cl: #e5e5e5;
  --secondary-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --backdrop-bg-cl: rgba(0, 0, 0, 0.2);
  --input-bg-cl: rgba(117, 117, 117, 0.5);
  --accent-bg-cl: rgba(255, 255, 255, 0.1);
  --group-bg-cl: rgba(47, 48, 58, 0.8);
  --action-bg-cl: rgba(33, 150, 243, 0.9);
  /* shadows */
  --main-bcg-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --accent-bcg-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Animation */
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Gallery */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-white-cl);
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 0.86;
  font-weight: 700;
  line-height: 33px;
  color: var(--title-txt-cl);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.section-subtitle {
  margin-bottom: 10px;
  color: var(--title-txt-cl);
  font-weight: 700;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: var(--main-font);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  background-color: transparent;
  background-color: var(--accent-cl);
  color: var(--main-white-cl);
  border: transparent;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}

.hero__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.hero__btn-accent {
  background-color: #120d26;
  color: #ffffff;
  padding: 10px 25px;
}

/*
============================
| Logo / Логотип компании
============================
*/
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  text-decoration: none;
}
.logo:hover, .logo:focus {
  color: var(--second-accent-cl);
}
.logo__accent-dark {
  color: var(--accent-cl-dark);
}
.logo__accent-white {
  color: var(--main-white-cl);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.menu-container {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 40px 48px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.nav__link {
  font-weight: 600;
  line-height: 1.14;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
  -webkit-transition: color var(--main-animation);
  transition: color var(--main-animation);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.14;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-cl);
}
.nav__link--current {
  color: var(--accent-cl);
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
    border-radius: 2px;
    bottom: -1px;
    -webkit-transition: color var(--main-animation);
    transition: color var(--main-animation);
  }
}

/*
============================
| Header section / Шапка сайта
============================
*/
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-cl);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.menu-container__box {
  width: auto;
}

/*
============================
| Hero section / Герой
============================
*/
.hero {
  width: 100%;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  padding: 50px 0px;
  color: #120d26;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 660px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 1.62;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    width: 670px;
  }
}

.hero__paragraph {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: var(--title-txt-cl);
  margin-bottom: 58px;
}

.hero__btn {
  margin-right: auto;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--second-accent-cl);
}

.hero__img {
  width: 530px;
  height: 530px;
  border-radius: 12px;
}

/*
============================
| Benefits section / Чем мы занимаемся
============================
*/
.steps,
.benefits,
.contacts {
  padding-top: 0;
}
@media screen and (max-width: 1139px) {
  .steps,
  .benefits,
  .contacts {
    display: none;
  }
}

.steps__title-box,
.benefits__title-box,
.gallery__title-box,
.contacts__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 112px;
  width: auto;
  margin-bottom: 49px;
}

.steps__title-box {
  padding-top: 30px;
}

.steps__list {
  text-align: center;
  margin-bottom: 86px;
}
@media screen and (min-width: 768px) {
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 420px;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  opacity: 0px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(241, 102, 24, 0.1);
          box-shadow: 0px 10px 40px 0px rgba(241, 102, 24, 0.1);
}
.steps__item:hover, .steps__item:focus {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(241, 102, 24, 0.2);
          box-shadow: 0px 10px 40px 0px rgba(241, 102, 24, 0.2);
}
.steps__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .steps__item {
    width: 354px;
  }
  .steps__item:first-child {
    margin-right: 30px;
  }
  .steps__item:last-child {
    margin-left: 30px;
  }
  .steps__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .steps__item {
    margin-right: 30px;
    width: 400px;
    margin-bottom: 0;
  }
  .steps__item:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.steps__icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

.steps__icon {
  width: 130px;
  height: 130px;
  fill: #8c8d91;
}

.steps__text,
.gallery__text,
.benefits__text,
.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.steps__title,
.benefits__title,
.contacts__title {
  color: var(--accent-cl-dark);
  font-style: normal;
  line-height: 0.88;
  text-align: center;
  margin-bottom: 10px;
}

.steps__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--accent-cl-dark);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.steps__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.gallery {
  background-color: rgba(255, 112, 88, 0.04);
  padding-top: 30px;
}

.gallery__title-box {
  margin-bottom: 64px;
}

.gallery__title {
  padding-top: 15px;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 60px;
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    padding: 0 93px;
  }
}

.gallery__column {
  -ms-flex-preferred-size: calc((100% - 15px) / 7);
      flex-basis: calc((100% - 15px) / 7);
}
.gallery__column:not(:last-child) {
  margin-right: 3px;
}
@media screen and (min-width: 768px) {
  .gallery__column:not(:last-child) {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column:not(:last-child) {
    margin-right: 8px;
  }
}
.gallery__column--first {
  padding-top: 13.75vw;
}
@media screen and (min-width: 480px) {
  .gallery__column--first {
    padding-top: 66px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__column--first {
    padding-top: 109px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column--first {
    padding-top: 143px;
  }
}
.gallery__column--second {
  padding-top: 8.75vw;
}
@media screen and (min-width: 480px) {
  .gallery__column--second {
    padding-top: 42px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__column--second {
    padding-top: 67px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column--second {
    padding-top: 89px;
  }
}
.gallery__column--third {
  -ms-flex-preferred-size: calc((100% - 15px) / 7 * 2);
      flex-basis: calc((100% - 15px) / 7 * 2);
}
.gallery__column--fourth {
  padding-top: 9.7vw;
}
@media screen and (min-width: 480px) {
  .gallery__column--fourth {
    padding-top: 46.56px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__column--fourth {
    padding-top: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column--fourth {
    padding-top: 99px;
  }
}
.gallery__column--fifth {
  padding-top: 6.6vw;
}
@media screen and (min-width: 480px) {
  .gallery__column--fifth {
    padding-top: 31.68px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__column--fifth {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column--fifth {
    padding-top: 66px;
  }
}
.gallery__column--sixth {
  padding-top: 15.3vw;
}
@media screen and (min-width: 480px) {
  .gallery__column--sixth {
    padding-top: 73.44px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__column--sixth {
    padding-top: 117px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__column--sixth {
    padding-top: 155px;
  }
}

.gallery__img {
  width: 100%;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out, -webkit-transform 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}
.gallery__img--top {
  margin-bottom: 1vw;
}
@media screen and (min-width: 768px) {
  .gallery__img--top {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img--top {
    margin-bottom: 8px;
  }
}
.gallery__img--bottom {
  width: 48.76%;
}
.gallery__img:hover, .gallery__img:focus {
  -webkit-box-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.contacts__title-box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 112, 88, 0.04);
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.contacts__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13%;
}

.feedback-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
  border-radius: 10px;
  background-color: rgba(255, 112, 88, 0.04);
  border: 1px solid #cbd6e2;
}

textarea {
  resize: none;
}

.contacts__form-text {
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */