/*
============================
| Logo / Логотип компании
============================
*/

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  // margin-right: 20px;
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  @include fonts(20px, 0.84);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--second-accent-cl);
    transition: var(--timing-function);
  }
  &__accent-dark {
    color: var(--accent-cl-dark);
  }

  &__accent-white {
    color: var(--main-white-cl);
  }

  @media screen and (min-width: 768px) {
    margin-right: 25px;
    // @include fonts(24px, 0.84);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    @include fonts(26px, 0.84);
  }
}
