/*
============================
| Team Icons / Иконки Команды
============================
*/

//Variables
// $facebook-blue: #3b5998;
$instagram-gradient: radial-gradient(
  circle at 33% 100%,
  #fed373 4%,
  #f15245 30%,
  #d92e7f 62%,
  #9b36b7 85%,
  #515ecf
);
// $youtube-red: #ff0000;

.social__icons-left-btn {
  display: flex;
  flex-direction: column;
  a {
    color: #000;
    text-decoration: none;
    font-family: roboto condensed;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    transition: 0.4s;
    align-items: center;
    position: fixed;
    width: 125px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.5);
  }
  i {
    margin-right: 5px;
  }
}

// #facebook-button {
//   color: #3b5998;
//   right: -102px;
//   top: 20px;

//   &:hover {
//     right: 0;

//     color: #fff;
//     background-color: #3b5998;
//   }
// }
#instagram-left-btn {
  top: 21px;
  right: -87px;
  color: #000;
  &:hover {
    color: #fff;
    background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
    right: 0;
  }
}
// #youtube-button {
//   top: 120px;
//   right: -102px;
//   color: $youtube-red;
//   &:hover {
//     right: 0;

//     background-color: $youtube-red;
//     color: #fff;
//   }
// }
