.about.section {
  // background-color: rgba(255, 112, 88, 0.04);
}

.container {
}
.about__container {
}
.about .about__title-box {
  height: auto;
  margin-bottom: 20px;
  //   padding-left: 50px;
  //   padding-right: 50px;
}
.section-title {
}
.about__title {
}
.about__text.accent {
}
// .about__text-accent-box {
//   display: flex;
// }
.about__text-accent-red {
  color: var(--accent-cl);
  font-size: 20px;
}
.about__text-accent-dark {
  color: var(--accent-cl-dark);
  font-size: 20px;
}
.aboutus__box {
  // background-color: rgba(255, 112, 88, 0.04);
}
.aboutus__title {
  margin-top: 15px;
  margin-bottom: 10px;
}
// font-size: 16px;
.aboutus__text {
  display: flex;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 30px;
}
.aboutus__img {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  // object-fit: cover;
  margin-bottom: 49px;
}
.aboutus__img img {
  width: 650px;
  height: 450px;
  cursor: pointer;
  // box-shadow: 0px 10px 40px 0px rgba(241, 102, 24, 0.1);
}
