.contacts {
  // background-color: rgba(255, 112, 88, 0.04);
}

.contacts__title-box {
  // padding-top: 30px;
  // padding-bottom: 30px;
  background-color: rgba(255, 112, 88, 0.04);
}

//

// Feedback form

.feedback-form {
  display: flex;
  flex-direction: column;
  width: auto;
  // max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.contacts__name-box {
  display: flex;
  gap: 13%;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  width: 200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  @include fonts(16px, 1.9);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--second-accent-cl);
    transition: background-color var(--timing-function);
  }
}

input,
textarea {
  // width: 100%;
  padding: 8px;
  font: inherit;
  border-radius: 10px;
  // background-color: #f5f8fa;
  background-color: rgba(255, 112, 88, 0.04);

  border: 1px solid #cbd6e2;
}

textarea {
  resize: none;
}
.contacts__form-text {
  margin-top: 10px;
}
