/*
============================
| Hero section / Герой
============================
*/

///________________сделать hero  на 390px and less
.hero {
  width: 100%;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  padding: 50px 0px;
  color: #120d26;
  letter-spacing: 0.06em;
  //   width: 100%;
  // height: 100%;
  // min-width: 100%;
  // min-height: 100%;
  position: relative;

  @media screen and (min-width: 1200px) {
    height: 720px;
  }
  // background: radial-gradient(
  //     circle,
  //     rgba(176, 157, 149, 0.23015143557422968) 0%,
  //     rgba(141, 159, 159, 0.3113839285714286) 100%,
  //     rgba(105, 120, 121, 0.9108237044817927) 100%
  //   ),
  background-image: linear-gradient(to right, rgba(162, 162, 165, 0.2), rgba(47, 48, 58, 0.2)),
    url('../../images/hero-bcg-2.jpg');
  background-size: cover;

  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/main-page/hero/hero-bcg-img_sm.jpg);

  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_sm.webp) 1x);

  // @include mq(retina) {
  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/main-page/hero/hero-bcg-img_sm@2x.jpg);

  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_sm@2x.webp) 2x);
  // }

  // @include mq(tablet) {
  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/main-page/hero/hero-bcg-img_md.jpg);

  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_md.webp) 1x);

  //   @include mq(retina) {
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url(../images/main-page/hero/hero-bcg-img_md@2x.jpg);

  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_md@2x.webp) 2x);
  //   }
  // }

  // @include mq(desktop) {
  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../../images/Picture.png);

  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_lg.webp) 1x);

  //   @include mq(retina) {
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url(../images/main-page/hero/hero-bcg-img_lg@2x.jpg);

  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       -webkit-image-set(url(../images/main-page/hero/hero-bcg-img_lg@2x.webp) 2x);
  //   }
  // }
}
// .hero::before {
//   background: url('../../images/hero-bcg-2.jpg') no-repeat center center;
//   background-size: cover;
//   background-color: rgba(200, 200, 200, 0.2);
//   content: '';
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -2;
//   opacity: 0.6;
// }

.hero__container {
  display: flex;

  @media screen and (max-width: 1200px) {
    justify-content: space-around;
  }
}
.hero__container-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 10px;
}

.hero__title {
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 33px;
  @include fonts(24px, 1.62);
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(44px, 1.4);
    width: 670px;
  }
}

// .hero__img-bcg {
//   width: 449.52px;
//   z-index: -1;
//   height: 412.92px;
//   // background-image: url('../../images/Vector.png'), weight= '100';
//   // background-size: 50px 10px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-size: 20%;
// }
.hero__paragraph {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 58px;
  // color: var(--title-txt-cl);
  color: #626674;

  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
  }
}
.hero__btn {
  margin-right: auto;

  &:hover,
  &:focus {
    background-color: var(--second-accent-cl);
    transition: background-color var(--timing-function);
    scroll-behavior: smooth;
  }
}
// .hero__img-bcg {
//   color: rgba(255, 112, 88, 0.05);
//   background-repeat: no-repeat;
//   background-size: cover;
// transform: rotate(-160.84grad);
// }
.hero img {
  width: 470px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;

  @media screen and (max-width: 1200px) {
    width: 250px;
    height: 300px;
  }
}
// .hero__img > img {
//   display: block;
//   height: 100%;
//   width: 100%;

//   object-fit: cover;
// }
